@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,400;1,600;1,700&display=swap');


/* cargador */
*,*:after, *:before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#contenedor_carga{
    background-color: rgb(250, 240 , 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga{
    border: 15px solid #ccc;
    border-top-color: #F4266A;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation:girar 1.5s linear infinite;
    -o-animation:girar 1.5s linear infinite;
    animation:girar 1.5s linear infinite;
}

@keyframes girar {
    from { transform: rotate( 0deg);}
    to {transform: rotate(360deg);}
}

:root{
    --padding-container: 100px 0;
    --color-title: rgb(23, 126, 223);
}

body{
    font-family: 'Poppins', sans-serif;
}


.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    margin-left: auto;
    width: 100%;
    height: 0vh;
    min-height: 200px;
    max-height: 200px;
    position: relative;
    display: grid;
    grid-template-rows: 100px lfr;
    color: rgb(255, 255, 255);
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100% ), url("../imagines/aleksandra-khaprenko-0PPw9irzLIw-unsplash.jpg");
    background-size: cover;
    /*clip-path: polygon(0 0, 100% 0, 100% 82%, 100% 70%, 0 82%);*/
    z-index: -1;
}


/*Nav*/

.nav{
    --padding-container:0; 
    height: 100%;
    display: flex;
    align-items: center;
    margin-block-start: -3.5em; 
}

.nav_container{
    display: block;

}

.nav__title{
    font-weight: 300px;
    font-size: 30px;

}


.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 5em;
    
}

.nav__items{
    list-style: none;
    margin: 15px;
    font-size: 1rem;

}

.nav__links{
    /*color:rgb(255, 255, 255);*/
    text-decoration: none;
    border-spacing: 2px;
    font-size: 3.6vh; 
    color: #00BDFF; 
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;

}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}

/*Hero__container*/


.deslizamiento_1{
    display: block;
    /*background-color: #5e5e;*/
    animation: deslizamiento_1 .3s ease;
    
}

@keyframes deslizamiento_1{
    from {
        transform: translateX(-200%);
    }
    to{
        transform: translateX(0);
    }
}
/*
.hero_container{
    max-width: 400px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
    color: #b1b4ec;
    margin-block-end: 50em;
    background-color: aqua;
    
}*/
/*
.hero__title{
    font-size: 4rem;
    text-align: center;
    height: 15px;

}*/

.hero__paragraph{
    margin-bottom: 20px;
    text-align: center;
}

.cta{
    text-align: center;
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* About */

.section_2{
    display: flex;
    
    margin-block-start: -7em; 
}

.about{
    text-align:center
}

.subtitle{
    color: var(--color-title);
    font-size: 4rem;
    margin-bottom: 10px;
    margin-block-start: -10%; 
}

.about__paragraph{
    line-height: 1.5;
    color: rgb(80, 76, 76);
    font-size: 4em;
}

.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: lem;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons{
    display: grid;
    gap: Lem;
    justify-items: center;
    width: 250px;
    overflow: hidden;
    margin: auto;



}

.about__icon{
    width: 200px;
}

/* knowledge */

.knowledge{
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position:0 0, 10px 10px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: lfr lfr;
    gap: 1em;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.subtitle_quesomos{
    color: var(--color-title);
    font-size: 4rem;
    margin-bottom: 10px;
    margin-block-start: -10%; 
    text-align: center;
}

.knowledge__pigture{
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
    text-align: center;
}

.knowledge__img{
    width: 100%;
    display: block;

}


/* price */

.price{
    text-align: center;
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
    
}

.price__element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;


}

.price__element--best{
    width: 370px;
    padding: 60px 40px;
    background-color: #ff7143;
    --color-plan: rgb(255 255 255 / 75%);
    --color-price: #fff;
    --bg-cta: #9f3919;
    --color-cta: #fff;
    --color-items: #fff;
    
}


.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;

}

.price__price{
    font-size: 2.5em;
    color: var(--color-price);

}

.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);

}

.price__cta{
    background-color: var(--bg-cta);
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);


}

/* Testimony*/

.testimony{
    background-color: #e5e5f7;

}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony__body--show{
    pointer-events: unsed;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

/*.testimony__course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 4px;

}*/
.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

.questions__copy{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/*questions container 1*/

.questions__container2{
    display: flex;
    justify-content: center;

}

.questions__offer2{
    justify-content: center;
}

.subtitle2{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 4rem;
    color: rgb(23, 126, 223);
}

.questions__copy2{
    display: grid;
    grid-template-columns: 800px 1fr 0px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.9rem;
}


/* Footer*/
.footer{
    background-color: #1D293F;
}


.footer__title, .footer__newsletter{
    color: #fff;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}

.nav__footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;

}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 20px;
    background-color: #2091f9;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
}

.footer__copy{
    --padding-container:30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{

    margin-bottom: 10px;
    color: #fff;
    
}

.fooder__img{
    width: 30px;
}

/* Media queries */

@media (max-width:800px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
    
    .hero__title{
        font-size: 2.5rem;
    }
    
    .about__main{
        gap: 5em;
    }

    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__pigture{
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }

    .testimony__img{
        width: 200px;
        height: 200px;
    }

    .questions__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer2{
        width: 100%;
        justify-content: center;
        grid: 5px;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
        grid: 5px
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }
}



@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 1.8rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .price__element{
        width: 90%;        
    }

    .price__element--best{
        width: 90%;
        padding: 40px;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: 9em;
    }

    .testimony__arrow{
        width: 100%;
    }
    
    .testimony__course{
        margin-top: 15px;
    }


    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin: 0;
        width: 100%;
    }
}